
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Carlos Gonzalez</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
	
</head>
<body>
	{% include 'home/navbar.html' %}
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/profile.jpg' %}" >
					<hr>
					<h4>Hi I'm Carlos!</h4>
					<p>I love coding, cryptocurrencies and optimization.</p>
					<ul class="social-links">
						<li><a href="https://www.instagram.com/carlos.gz.rz/" target="_blank"><img class="social" src="{% static 'images/instagram.png' %}"></a></li>
						<li><a href="https://www.linkedin.com/in/carlos-gonz%C3%A1lez-rodr%C3%ADguez-194195141/" target="_blank"><img class="social" src="{% static 'images/linkedin.png' %}"></a></li>
						<li><a href="https://github.com/carlos1014tgn" target="_blank"><img class="social" src="{% static 'images/github.png' %}"></a></li>
					</ul>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info" id="main_box">
					<h4>Who am I?</h4>
					<hr>
					<p>I'm an engineer from Barcelona. I started coding at university and sticked to it after I saw it's potential.</p>

					<p>I have worked in a datawarehouse for the banking industry and I'm currently working for Amazon, where I develop optimization projects saving thousands of dollars to the company.</p>

					<p>I got introduced to cryptocurrencies in 2016 and I'm trying to figure out how to apply my knowledge to the sector.</p>

				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My projects</h5>
					<hr>
					<p>My final project at university was building a modular drone. I used ML and sensors to make it follow people and I also created a topography module based on a sonar and a python ETL process.</p>
					<p>I'm currently developing a trading bot for cryptocurrencies.</p>
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>What I Know</h5>
					<hr>
					<p>I studied industrial engineering and started coding as soon as I saw the potential of programming. Currently I analyze businesses and I code the solutions to optimize them.</p>
					<p>Knowing about statistics, businesses, processes and coding, allows me to detect what can be improved and calculate the costs and savings before starting to develop an MVP.</p>
					<p>I know Python, SQL, HTML, CSS, Java, AWS and some ML libraries. I'm currently learning JavaScript and Solidity.</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Data & Blockchain</h5>
					<hr>
					<p></p>

					<p>I can learn just about anything by having a final product to tear apart piece by piece. I break the code where I need to figure out why things work the way they do. Documentation is just a reference.</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Short Term Goals</h5>
				<hr>
				<p>After almost two years of supporting my system at the lab I’m ready to learn something new. I'll collaborating and sharing my experience with others on my blog (SayHelloWorld.co) & youtube channel.</p>
				<p>Aside from building small projects I would love to enter a position where I can be part of a bigger team & learn from others with more experience than myself.</p>

				</div>
			</div>
		</div>
		<br>
	</div>
</body>
</html>