
{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="{% static '/css/navbar.css' %}" rel="stylesheet" type="text/css">

<div class="topnav">
    <ul id="nav">
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/analytics">Analytics</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</div>
