body{
	background-color:#121212 !important;
}

#profile-wrapper{
	text-align: center;
}

#profile-pic{
	width:150px;
	height: 150px;
	border-radius: 50%;
	margin-left: auto;
  	margin-right: auto;
}

#profile-wrapper, #main_box{
	border-color: rgb(255, 102, 0) !important;
}

.card{
	background-color: #404040;
	color: white;
}

ul{
	padding: 0;
    list-style-type: none;
}


.social-links ul, li{
	list-style-type:none;
	display: inline-block;
}

.social{
	width:20px;
	height: 20px;
}

h3{
	color: white;
}

    